body {
    margin: 0;
}

* {
    box-sizing: border-box; /* Aplica box-sizing a todos os elementos */
}


a {
    text-decoration: none;
    color: black;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 80%;
}

#links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

#links label {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #25282B;
    cursor: pointer;
}

#presentation {
    display: flex;
    width: 80vw;
    height: 626px; 
    justify-content: space-around;
    align-items: center;
}

#intro {
    max-width: 500px;
}

#role {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #FF5876;
}

#name {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    line-height: 120%;
    font-weight: bold;
}

#description {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    line-height: 28px;
}

#buttons a {
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 24px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#buttons a:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#projects-button {
    background-color: #FF6464;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #FFF;
    border: 2px solid #FF6464;
}

#linked-in-button {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #25282b;
    margin-left: 10px;
    border: 2px solid #25282b;
}

#picture {
    width: auto;
    height: 400px;
}

#card-container {
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
}

#card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 400px;
    margin-right: 20px;
    margin-top: 20px;
}

#card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

#card-image {
    width: 100%;
    height: 200px;
    object-fit: contain; 
    object-position: center;
}

#card-content {
    padding: 15px;
}

#card-content h3 {
    margin-top: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    line-height: auto;
}

#card-content h2 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
    line-height: auto;
}

#card-content p {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    line-height: auto;
}

#contact-container {
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-top: 20px;
    flex-direction: column;
}

#contact {
    background-color: black;
    width: 30vw;
    text-align: center;
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
    font-size: 34px;
    line-height: 55px;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    box-shadow: -3px 3px 0px 0.75px #FF6464;
    position: relative;
}

#contact::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: #FF6464;
}

#interest {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: auto;
    color: #0F0A0A;
    margin-top: 0;
    text-align: center;
    max-width: 30vw;
}

form {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    width: 30vw;
}

form label {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #0F0A0A;
    line-height: auto;
    padding-left: 10px;
    margin-bottom: 10px;
}

form span {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #DA1414;
}

form input {
    height: 50px;
    border: 1px solid #858c94;
    border-radius: 8px;
    margin-bottom: 20px;
    padding-left: 16px;
}

form input::placeholder {
    color: #858C94;
}

#submit-form-input {
    background-color: #FF6464;
    border: 0px;
    border-radius: 0px;
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 22.7px;
    letter-spacing: 1.25px;
    color: #fff;
    cursor: pointer;
}

form textarea {
    border: 1px solid #858c94;
    border-radius: 8px;
    height: 100px;
    margin-bottom: 20px;
    padding-left: 16px;
    padding-top: 12px;
}

#footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

#footer p {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#social-media {
    display: flex;
    width: 20%;
    justify-content: space-around;
}

#social-media img {
    width: 64px;
    height: 64px;
}

@media (max-width: 1200px) {
    #header {
        width: 100%;
    }
    #links {
        width: 100%;
    }
    #presentation {
        width: 90vw;
        flex-direction: column;
        height: auto; /* Ajusta a altura automaticamente */
    }
    #card {
        margin-left: 20px;
    }
    #contact {
        width: 80vw;
    }
    #interest {
        max-width: 60vw;
    }
    #intro {
        max-width: 90%;
        text-align: center;
    }
    #picture {
        height: 300px;
        margin-top: 2vh;
    }
    #card-container {
        width: 90vw;
    }
    form {
        width: 90vw;
    }
    
    #footer {
        display: block;
        height: 50vh;
        justify-content: center;
        align-items: center;
    }

    #social-media {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #social-media img{
        width: 10vw;
        height: 10vw;
        margin-right: 20px;
    }
}

/* Responsividade para celulares */
@media (max-width: 480px) {
    #header {
        width: 100%;
        justify-content: space-between;
    }
    #presentation {
        width: 100vw;
        height: auto;
    }
    #picture {
        height: 200px;
        margin-top: 20px;
    }
    #description {
        font-size: 1.2rem;
    }
    #interest {
        max-width: 80vw;
    }
    form {
        width: 80vw;
    }
    #footer {
        flex-direction: row;
        height: 30vh;
        width: 80%;
        justify-content: space-evenly;
    }

    #social-media {
        margin-right: 20px;
    }

    #social-media img{
        width: 10vw;
        height: 10vw;
    }
}