body {
    margin: 0 0;
    padding: 0;
    background-color: #000;
}

#slideshow { 
    width: 100%; 
    height: 100%; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

.redesSociais{
    position: fixed;
    width: 100%;
    bottom: 0;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}
  


